@{
    ViewData["Title"] = "Home Page";
}
<body class="bg-secondary bg-gradient">
    <div class="text-center">
        <h1 class="display-4 mb-5">Meine Aufgabenliste</h1>
    </div>

    <form asp-controller="ToDos" asp-action="ShowResults" method="get">
        <div class="row">
            <div class="col offset-3 input-group">
                <i class="bi bi-search input-group-text"></i>
                <input type="search" class="form-control" name="suchbegriff" placeholder="Wonach suchst du?" required/>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Suchen</button>
            </div>
        </div>
    </form>

    <script src="~/js/Validierung.js"></script>
</body>

