@model Meine_Aufgabenliste.Models.ToDo

<form asp-action="AddToDo" method="post">
    <div class="card text-center container bg-dark">
        <div class="card-header bg-dark mb-3 mt-3">
            <div class="row">
                <div class="col align-self-start">
                    <div class="form-floating">
                        <select class="form-select" name="Kategorie" id="Kategorie" aria-label="Floating label select example">
                            <option selected>Bitte auswählen</option>
                            <option value="DigiFAM">DigiFAM</option>
                            <option value="Laufender Betrieb">Laufender Betrieb</option>
                            <option value="MAV">Three</option>
                        </select>
                        <label for="Kategorie">Kategorie</label>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="form-floating">
                        <select class="form-select" name="Schluesselwort" id="Schluesselwort" aria-label="Floating label select example">
                            <option selected>Bitte auswählen</option>
                            <option value="Fehler">Fehler</option>
                            <option value="Zahlungen">Zahlungen</option>
                            <option value="E-Mail">E-Mail</option>
                        </select>
                        <label for="Schluesselwort">Schlüsselwort</label>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="form-floating">
                        <input readonly type="number" class="form-control" name="Id" id="Id" placeholder="Id" value="@ViewBag.NeueId">
                        <label for="Id">Id</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-dark bg-gradient mb-3">
            <div class="form-floating">
                <input class="form-control mb-3" placeholder="Aufgabe" name="Aufgabe" id="Aufgabe" />
                <label for="Aufgabe">Aufgabe</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control mb-3" placeholder="Beschreibung" name="Beschreibung" id="Beschreibung" style="height: 100px"></textarea>
                <label for="Beschreibung">Beschreibung</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Lösung" name="Loesung" id="Loesung" style="height: 100px"></textarea>
                <label for="Loesung">Lösung</label>
            </div>
        </div>
        <div class="card-footer text-muted container bg-dark mb-3">
            <div class="row">
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Verantwortlich" id="Verantwortlich" aria-label="Floating label select example">
                            <option selected>Bitte auswählen</option>
                            <option value="Emilia Groth">Emilia Groth</option>
                            <option value="Lukas Görzen">Lukas Görzen</option>
                        </select>
                        <label for="Verantwortlich">Verantwortlich</label>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success" tabindex="1">Speichern</button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select" name="Status" id="Status" aria-label="Floating label select example">
                            <option hidden>Bitte auswählen</option>
                            <option value="offen">Offen</option>
                            <option value="inBearbeitung">in Bearbeitung</option>
                            <option value="wartend">Wartend</option>
                            <option value="abgeschlossen">Abgeschlossen</option>
                            <option value="archiv">Archiv</option>
                        </select>
                        <label for="Status">Status</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
