<title>@ViewData["Title"] - Meine Aufgabenliste</title>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Offene Aufgaben</h1>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-light table-hover table-bordered">
        <thead class="table-danger">
            <tr>
                <th>Id</th>
                <th>Kategorie</th>
                <th>Schlüsselwort</th>
                <th>Aufgabe</th>
                <th>Beschreibung</th>
                <th>Lösung</th>
                <th>Verantwortlich</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{
                // foreach (ToDo toDo in ViewBag.ToDos) {
                <tr>
                    <td>toDo.Id</td>
                    <td>Kategorie</td>
                    <td>Schlüsselwort</td>
                    <td>toDo.Aufgabe</td>
                    <td>toDo.Beschreibung</td>
                    <td>Lösung</td>
                    <td>Verantwortlich</td>
                    <td>Status</td>
                    <td>
                        <div class="col mb-2">
                            <div class="d-flex">
                                <form asp-action="EditToDo" asp-route-id="toDo.Id" class="me-2">
                                    <button class="btn btn-secondary" type="submit">
                                        <i class="bi bi-pencil"></i>
                                    </button>
                                </form>
                                <form asp-action="DeleteToDo" asp-route-id="toDo.Id">
                                    <button class="btn btn-danger" type="submit">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr class="table">
                <form asp-action="CreateTodo" method="post">
                    <td>
                        <input hidden type="number" id="id" value=""/>
                    </td>
                    <td>
                        <input placeholder="Kategorie" class="form-control" />
                    </td>
                    <td>
                        <input placeholder="Schlüsselwort" class="form-control" />
                    </td>
                    <td>
                        <input placeholder="Aufgabe" class="form-control" />
                    </td>
                    <td>
                        <input placeholder="Beschreibung" class="form-control" />
                    </td>
                    <td>
                        <input placeholder="Lösung" class="form-control" />
                    </td>
                    <td>
                        <select class="form-select">
                            <option selected value="default">Bitte auswählen</option>
                            <option value="Emilia">Emilia Groth</option>
                            <option value="Lukas">Lukas Görzen</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-select">
                            <option hidden value="default">Bitte auswählen</option>
                            <option value="offen">Offen</option>
                            <option value="inBearbeitung">in Bearbeitung</option>
                            <option value="wartend">Wartend</option>
                            <option value="abgeschlossen">Abeschlossen</option>
                            <option value="archiviert">Archiviert</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit">
                            <i class="bi bi-plus-circle"></i>
                        </button>
                    </td>
                </form>
            </tr>
        </tfoot>
    </table>
</div>