<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meine_Aufgabenliste</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Meine_Aufgabenliste.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark bg-gradient border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Meine Aufgabenliste</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-area="" asp-controller="ToDos" asp-action="ToDos_Offen">Offen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="ToDos" asp-action="ToDos_inBearbeitung">In Bearbeitung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="ToDos" asp-action="ToDos_Wartend">Wartend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-controller="ToDos" asp-action="ToDos_Abgeschlossen">Abgeschlossen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="ToDos" asp-action="ToDos_Archiv">Archiv</a>
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Admin-Verwaltung</a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Admin" asp-action="KategorienVerwaltung" class="dropdown-item">Kategorien</a></li>
                                <li><a asp-controller="Admin" asp-action="SchluesselwoerterVerwaltung" class="dropdown-item">Schlüsselwörter</a></li>
                                <li><a asp-controller="Admin" asp-action="VerantwortlicheVerwaltung" class="dropdown-item">Verantwortliche</a></li>
                                <li><a asp-controller="Admin" asp-action="StatusVerwaltung" class="dropdown-item">Status</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a asp-controller="Admin" asp-action="BenutzerVerwaltung" class="dropdown-item">Benutzer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p class="nav navbar-text text-light">@User.Identity?.Name</p>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark bg-gradient">
        <div class="container text-center">
            &copy; 2024 Meine Aufgabenliste - Lukas Görzen
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
