@model Verantwortlicher

<h1 class="text-center mb-5">Verantwortliche</h1>

<form asp-controller="Admin" asp-action="ErstelleVerantwortlicher" class="row d-flex align-items-center mb-5" method="post">
    <div class="form-floating col-4">
        <input asp-for="Name" class="form-control" placeholder="Neuer Veantwortlicher" required autocomplete="off" />
        <label>Neuer Verantwortlicher</label>
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                # Id
            </th>
            <th>
                Verantwortlicher
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Verantwortlicher verantwortlicher in ViewBag.Verantwortliche) {
            <tr>
                <td>
                    @verantwortlicher.Id
                </td>
                <td>
                    @verantwortlicher.Name
                </td>
                <td>
                    <button disabled>Bearbeiten</button>
                    <button disabled>Löschen</button>
                </td>
            </tr>
        }
    </tbody>
</table>