@model Schluesselwort

<h1 class="text-center mb-5">Schlüsselwörter</h1>

<form asp-controller="Admin" asp-action="ErstelleSchluesselwort" class="row d-flex align-items-center mb-5" method="post">
    <div class="form-floating col-4">
        <input asp-for="Name" class="form-control" placeholder="Neues Schlüsselwort" required autocomplete="off" />
        <label>Neues Schlüsselwort</label>
    </div>
    <div class="form-floating col-4">
        <select asp-for="Kategorie.Name" class="form-select" name="Kategorie" aria-label="Floating label select example" required>
            <option selected disabled value="">Bitte auswählen</option>
        </select>
        <label>Übergeordnete Kategorie</label>
    </div>
    <div class="col-4">
        <button type="submit" class="btn btn-primary">Hinzufügen</button>
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                # Id
            </th>
            <th>
                Kategorie
            </th>
            <th>
                Schlüsselwort
            </th>
            <th>
                Aktionen
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Schluesselwort schluesselwort in ViewBag.SchluesselwortViewModel) {
            <tr>
                <td>
                    @schluesselwort.Id
                </td>
                <td>
                    @schluesselwort.KategorieId
                </td>
                <td>
                    @schluesselwort.Name
                </td>
                <td>
                    <button disabled>Bearbeiten</button>
                    <button disabled>Löschen</button>
                </td>
            </tr>
        }
    </tbody>
</table>